<header>
<h1> RedAtomo </h1>
</header>
<% # nav va al costado izquierdo %>
<nav>
<p> <%=button_to('Config',school_class_path(@school_class), method: :get)%></p>
</nav>
<main>
  <div class="categorias">
    <h3><a href="#">Todo</a></h3>
    <h3><a href="#">Avisos</a></h3>
    <h3><a href="#">Multimedia</a></h3>
  </div>
</main>

<% # Versión vieja %>
<!---
<% if false %>
<h1>redAtomo</h1>
<p>Hola <%=@user.name%>!</p>
<p>Estas en el curso: <%=@school_class.name%></p>
<h2>Apoderados inscritos</h2>
<ul>
<% @school_class.parents.each do |parent| %>
<li><%=parent.name%></li>
<%end%>
</ul>
<h2>Avisos anteriores</h2>
<ul>
<%@school_class.posts.each do |post| %>
<li>
<h3><%=post.title%></h3>
<span>Escrito por <%=post.author.name%></span>
<p><%=post.body%></p>
</li>
<%end%>
</ul>
<%=button_to('Crear nuevo post',new_school_class_post_path(@user), method: :get)%>
<% end %>
-->
