<header>
  <h1>redATOMO</h1>
</header>

<nav>
  <div class="post-it selected">
    <%= link_to('AVISOS',"#Avisos", remote: true)%>
  </div>
  <div class="post-it y-bg">
    <%= link_to('MULTIMEDIA',"#Multimedia", remote: true)%>
  </div>
  <div class="post-it b-bg">
    <%= link_to('COMUNICACIONES',"#Comunicaciones", remote: true)%>
  </div>
  <div class="post-it o-bg">
    <%= link_to('CONFIGURACION',school_class_path(@school_class), remote: true)%>
  </div>
</nav>

<div id="paper">

  <!-- Generación de líneas rojas del cuaderno -->
  <!-- <div class="lines"></div> -->

  <ul class="list">
    <li>&nbsp</li>
    <li>&nbsp</li>

    <%= render 'content_all' %>

  </ul>
</div>




<!---
<% if false %>

<header>
<h1> RedAtomo </h1>
</header>
<main>
  <div class="categorias">
    <h3><a href="#">Todo</a></h3>
    <h3><a href="#">Avisos</a></h3>
    <h3><a href="#">Multimedia</a></h3>
  </div>
</main>

<% # Versión vieja %>

<h1>redAtomo</h1>
<p>Hola <%=@user.name%>!</p>
<p>Estas en el curso: <%=@school_class.name%></p>
<h2>Apoderados inscritos</h2>
<ul>
<% @school_class.parents.each do |parent| %>
<li><%=parent.name%></li>
<%end%>
</ul>
<h2>Avisos anteriores</h2>
<ul>
<%@school_class.posts.each do |post| %>
<li>
<h3><%=post.title%></h3>
<span>Escrito por <%=post.author.name%></span>
<p><%=post.body%></p>
</li>
<%end%>
</ul>
<%=button_to('Crear nuevo post',new_school_class_post_path(@user), method: :get)%>
<% end %>
-->
