<header>
  <h1>redATOMO</h1>
</header>

<div id="nav">
  <div class="post-it selected">
    <%= link_to('AVISOS',fetch_avisos_posts_path(school_class_id: @school_class.id), remote: true)%>
  </div>
  <div class="post-it y-bg">
    <%= link_to('MULTIMEDIA', fetch_multimedia_posts_path(school_class_id: @school_class.id), remote: true)%>
  </div>
  <div class="post-it b-bg">
    <%= link_to('COMUNICACIONES',fetch_comunicaciones_posts_path(school_class_id: @school_class.id), remote: true)%>
  </div>
  <div class="post-it o-bg">
    <%= link_to('CONFIGURACION',fetch_configuracion_path(school_class_id: @school_class.id), remote: true)%>
  </div>
</div>

<div id="paper">
  <%= render partial: 'posts/content_avisos', school_class: @school_class, post: @post %>
</div><!--
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%> -->
<% if flash[:alert]  %>
  <%= javascript_tag do %>
    alert('<%= flash[:alert] %>')
  <% end %>
<% end %>
