<header>
  <h1> RedAtomo </h1>
</header>

<nav>
  <div class="post-it selected">
    <%= link_to('Inicio',"#", method: :get)%>
  </div>
  <div class="post-it y-bg">
    <%= link_to('Avisos',"#", method: :get)%>
  </div>
  <div class="post-it b-bg">
    <%= link_to('Multimedia',"#", method: :get)%>
  </div>
  <div class="post-it o-bg">
    <%= link_to('Configuración',school_class_path(@school_class), method: :get)%>
  </div>
</nav>

<div id="paper">

  <!-- Generación de líneas rojas del cuaderno -->
  <div class="lines"></div>

  <ul class="list">
    <li>&nbsp</li>
    <li>&nbsp</li>
    <li>Sit Downfasdfasdf asdfg adsfgjn  fsdl vkjafslkh vbsdfkhfvb kahbsdf vlkhdfb vlkhdfvlkh ssfd lkjhbdsf lkvbnzsdfklnvb lskfjnvblz kdfjnb</li>
    <li><img style="vertical-align:top" src="/images/bg-notebook-body.jpg" height="200px" width="350px"/></li>
    <li>Join a hangout in google+</li>
    <%@school_class.posts.each do |post| %>
    <li>
    <h3><%=post.title%></h3>
    <span>Escrito por <%=post.author.name%></span>
    <p><%=post.body%></p>
    </li>
    <% end %>
  </ul>
</div>




<!---
<% if false %>

<header>
<h1> RedAtomo </h1>
</header>
<main>
  <div class="categorias">
    <h3><a href="#">Todo</a></h3>
    <h3><a href="#">Avisos</a></h3>
    <h3><a href="#">Multimedia</a></h3>
  </div>
</main>

<% # Versión vieja %>

<h1>redAtomo</h1>
<p>Hola <%=@user.name%>!</p>
<p>Estas en el curso: <%=@school_class.name%></p>
<h2>Apoderados inscritos</h2>
<ul>
<% @school_class.parents.each do |parent| %>
<li><%=parent.name%></li>
<%end%>
</ul>
<h2>Avisos anteriores</h2>
<ul>
<%@school_class.posts.each do |post| %>
<li>
<h3><%=post.title%></h3>
<span>Escrito por <%=post.author.name%></span>
<p><%=post.body%></p>
</li>
<%end%>
</ul>
<%=button_to('Crear nuevo post',new_school_class_post_path(@user), method: :get)%>
<% end %>
-->
