<%= form_for @school_class do |f| %>
 
   
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control', required: true %>
    </div>
     <%= f.label :securityCode, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :securityCode, :class => 'form-control', required: true %> 
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
