<!-- Modal Triggers -->
  <div style="position: relative; float: right; margin-right: 10%; margin-top: 25px">
    <div class="fixed-action-btn horizontal" style="position: absolute; display: inline-block;
  top: 50%;
  margin-top: -65px;">
      <a class="btn-floating btn-large green modal-trigger" href="#add-media-modal">
        <i class="material-icons">publish</i>
      </a>
      <ul>
        <li><a style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;" class="btn-floating yellow darken-1 modal-trigger" href="#add-comm-modal">
          <i class="material-icons">format_quote</i></a>
        </li>
        <li><a style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;" class="btn-floating blue modal-trigger" href="#add-post-modal">
          <i class="large material-icons">mode_edit</i></a>
        </li>
      </ul>
    </div>
  </div>

<!-- Modal Structure -->
  <!-- Aviso -->
  <div id="add-post-modal" class="modal">
    <div class="modal-content">
      <h4>Agregar Aviso</h4>
      <p>Configurar form aquí...</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

  <!-- Multimedia -->
  <div id="add-media-modal" class="modal">
    <div class="modal-content">
      <h4>Agregar Multimedia</h4>
      <p>Configurar form aquí...</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

  <!-- Comunicación -->
  <div id="add-comm-modal" class="modal">
    <div class="modal-content">
      <h4>Agregar Comunicación</h4>
      <p>Configurar form aquí...</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

<!--  Contenido principal -->

<!-- Generación de líneas rojas del cuaderno -->
<!-- <div class="lines"></div> -->
<ul class="list">
  <li>&nbsp</li>
  <li>&nbsp</li>
  <li>multimedia</li>
  <% @posts.each do |post| %>
  <!---<li>
  <h3><%=post.title%></h3>
  <span>Escrito por <%=post.author.name%></span>
  <p><%=post.body%></p>
  <td><%= link_to "Comentar", "#", id: "test5", class: "btn btn-default" %></td>
  </li>-->
  <div class="row post-card">
          <div class="col s12 m11">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title"><%=post.title%></span>
                <p><%=post.body%></p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
        </div>
  <% end %>
</ul>
