<!-- Modal Triggers -->
  <div style="position: relative; float: right; margin-right: 10%; margin-top: 25px">
    <div class="fixed-action-btn horizontal" style="position: absolute; display: inline-block;
  top: 50%;
  margin-top: -65px;">
      <a class="btn-floating btn-large yellow darken-1 modal-trigger" href="#add-comm-modal">
        <i class="material-icons">format_quote</i>
      </a>
      <ul>
        <li><a style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;" class="btn-floating blue modal-trigger" href="#add-post-modal">
          <i class="large material-icons">mode_edit</i></a>
        </li>
        <li><a style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;" class="btn-floating green modal-trigger" href="#add-media-modal">
          <i class="material-icons">publish</i></a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Pagination -->
    <% if @communication_posts.count > 8 %>
      <div id='paginator' style='width=100%; text-align: center;'>
        <ul class="pagination">
          <li id='page-1' class='active'>
            <%= link_to('1', fetch_communication_posts_path(school_class_id: @school_class.id, offset: 0), remote: true )%>
          </li>
          <% pages = @communication_posts.count/8 %>
          <% # 7/8 = 0, 8/8 = 1, 9/8 = 1...%>
          <% pages += 1 unless @communication_posts.count%8 == 0 %>
          <% (pages - 1).times do |i|%>
            <li id='page-<%= (i+2).to_s %>'>
              <%= link_to((i+2).to_s, fetch_communication_posts_path(school_class_id: @school_class.id, offset: ((i+1)*8)), remote: true )%>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <!-- Modal Structure -->
    <!-- Aviso -->
    <div id="add-post-modal" class="modal">
      <div class="modal-content">
        <%= render partial: 'posts/form', school_class: @school_class, post: @post %>
      </div>
    </div>

    <!-- Multimedia -->
    <div id="add-media-modal" class="modal">
      <div class="modal-content">
        <%= render partial: 'posts/form_for_multimedia', school_class: @school_class, multimedia_post: @multimedia_post %>
      </div>
    </div>

    <!-- Comunicación -->
    <div id="add-comm-modal" class="modal">
      <div class="modal-content">
        <%= render partial: 'posts/form_for_communication', school_class: @school_class, communication_post: @communication_post %>
      </div>
    </div>

  <!--  Contenido principal -->
    <% unless @communication_posts.count == 0 %>
      <div id="multimedia_cards">
        <% counter = 0 %>
        <div class="row">
          <% @communication_posts.limit(8).offset(@offset).each do |c_post| %>
            <div class="col s3">
              Firmantes: <%= c_post.signers.count.to_s %>
              <div class="card small">
                <div class="card-image">
                  <img class="materialboxed" src="<%= c_post.thumbnail.url %>"/>
                </div>
                <span class="card-title center-align"><h5 style="color: white;"><%= c_post.title %></h5></span>
                <%= link_to school_class_communication_post_path(@school_class.id, c_post.id), { method: :delete, data: { confirm: 'Are you sure?' }, id: 'delete_multimedia', class: 'btn-floating btn waves-effect waves-light red' } do %>
                <i class="material-icons">delete</i>
                <% end %>
              </div>
            </div>
            <% counter += 1 %>
            <% if counter == 4 %>
                </div>
                <div class="row">
            <% elsif counter == 8 %>
                </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
